.header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 3%;
    margin: 1% 2%;
}
.header-search{
    width: 30%;
}
.header-search input{
    width: 100%;
}
.has-search{
    margin: 0;
}
.logo{
    width: 40%;
    height: 50%;
}
.logo img{
    width: 20%;
    height: 70px;
}
.header-feedback{
    width: 30%;
}
.navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}
.ct1-des{
    margin: 1%;
}
.ct1-des h1{
    text-align: center;
    margin: 3%;
    color: #0EC0C3;
}
.ct1-des p{
    font-size: 25px;
}
.ct1{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin: 1% 2%;
}
.ct1-left{
    width: 40%;
}
.ct1-right{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.ct1-right div{
    width: 60%;
}
.ct1-right img{
    width: 100%;
    height: 100%;
}
.ct2-header{
    text-align: center;
    color: #0EC0C3;
}
.ct2{
    display: flex;
    justify-content: center;
    gap: 3%;
    margin: 4%;
}
.ct2-left{
    width: 50%;
    padding: 0 3%;
}
.ct2-left img{
    width: 100%;
}
.ct2-right{
    width: 50%;
}
.ct2-right h3{
    color: #F6810E;
}
.ct2-right p{
    font-size: 23px;
}
.ct3-header h1{
    color: #0EC0C3;
    text-align: center;
    margin: 3%;
}
.ct3{
    display: flex;
    justify-content: center;
    gap: 3%;
    margin: 3%;
}
.ct3-img,
.ct3-des{
    width: 20%;
}
.ct3-des h3{
    text-align: center;
    color: #F6810E;
}
.ct3-des h4{
    color: #F6810E;
}
.ct3-des p{
    text-align: justify;
    font-size: 18px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    background-color: #0EC0C3;
    color: white;
}
.footer p, h5{
    margin: 0.7% 0;
}

@media all and (max-width:426px){
    .header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3%;
    }
    .navbar-nav{
        flex-direction: column;
    }
    .logo{
        width: 50%;
        height: 20%;
        margin: 3% 0;
    }
    .logo img{
        width: 100%;
        height: 100%;
    }
    .header-search{
        width: 100%;
        height: 10%;
        margin: 3%;
    }
    .header-feedback{
        width: 100%;
        margin: 1% 3%;
    }
    .ct1{
        flex-direction: column;
    }
    .ct1-left,
    .ct1-left img{
        width: 100%;
    }
    .ct1-right{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .ct1-right div{
        width: 70%;
    }
    .ct2{
        flex-direction: column;
    }
    .ct2-left{
        width: 100%;
    }
    .ct2-right{
        width: 100%;
    }
    .ct3{
        flex-direction: column;
    }
    .ct3-des,
    .ct3-img img,
    .ct3-img{
        width: 100%;
    }
    .ct3-img{
        padding: 3% 5%;
    }
}    